/*
 * Scheme 1: #5B4F3A #AEAA8A #716F5A #635A3D #47422F
 * Scheme 2: #A3A183 #6D6E59 #625A3D #45402C #5B523E
 * Scheme 3: #AAA688 #676653 #5B523E #48402E #615A3C
 * Scheme 4: #625B3C #AFAC8D #656451 #5C533D #433C29
 *
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

section {
  margin-bottom: 5em;
}

footer {
  font-size: 0.8rem;
}

#wrapper {
  flex: 1;
}

#title {
  background-color: #BDBA9B;
}

.menuitem .columns {
  display: flex;
  margin-bottom: 0.3rem;
}

.menuitem .name {
  flex:none;
  padding-bottom: 0;
  max-width: calc(100vw - 150px);
}

.menuitem .dashes {
  border-bottom: 1px dashed #636166;
}

.menuitem .price {
  flex:none;
  padding-bottom: 0;
  align-self: flex-end;
}

.menuitem h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.125;
}

.Kl1 {
  font-size: 1rem;
  margin-top:0rem;
}

.Kl2 {
  font-size: 2rem;
  font-style: bold;
  text-align: left;
  margin-left:30%;
}

.Kl3 {
  font-size: 1.5rem;
  text-align: right;
  margin-right:30%;
}

#galerie figure {
  background: #FFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  height: 10em;
  margin: 0 0 1em 2em;
  overflow: hidden;
  padding: 0;
  width: 10em;
  transition: all 0.25s ease-in;
}

#galerie figure img {
  width: 12em;
  height: 12em;
}

#galerie figure:hover,
#galerie figure:focus {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
  margin: -1em 0px 0 20px;
  padding: 5px 5px 30px 5px;
  width: 12em;
  z-index: 2;
  transform: scale(2);
}


#galerie figure:nth-child(3n-2):hover,
#galerie figure:nth-child(3n-2):focus {
  transform: scale(2) rotate(-2.5deg);
}

#galerie figure:nth-child(5n):hover,
#galerie figure:nth-child(5n):focus {
  transform: scale(2) rotate(2.5deg);
}

#galerie:after {
  clear: both;
  content: " ";
  display: block;
}
