doctype html
html
  head
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1" name="viewport"
    title zum Holzwirt
    link href="css/bulma.min.css" rel="stylesheet"
    link href="css/lightgallery.min.css" rel="stylesheet"
    link href="css/application.css" rel="stylesheet"
    script src="js/lightgallery.min.js"

  body
    #wrapper

      section.hero.is-medium#title
        .hero-body
          .container
            .columns
              .column
                h1.title zum Holzwirt
              .column
                figure.image
                  img src="img/logo.png"

      section
        .container.p-3
          h3.title Unser Lokal
          h5.subtitle
            br
            p Wir sind ein kleines familiengeführtes bayrisches Lokal ca. 5 min entfernt von der Autobahnausfahrt A94 Lengdorf. Wunderschön gelegen auf einer kleinen Anhöhe im schönen Isental. 
            p Bitte beachten Sie, dass in unserem Lokal keine Kartenzahlung möglich ist. 
            p Reservierung unter 08083/1274
            p Zur Zeit bieten wir keinen Abholservice an.

      section
        .container.p-3
          h3.title Neue Speisekarte zu Kirchweih
          - YAML.load_file("menuitems.yml").each do |item|
            .menuitem.block
              .columns
                .column.name: h3 = item["name"]
                .column.dashes
                .column.price: h3 &euro;#{"%.2f" % item["price"]}
              p = item["description"]
          p Für Beilagenänderungen berechnen wir 0.50€.
          p Kleine Portionen auf Anfrage (-1.50€)

      section
        .container.p-3
          h3.title Öffnungszeiten
          table.table.is-fullwidth.is-hoverable
            thead
              th.has-text-left Tag
              th.has-text-left Datum
              th.has-text-left Öffnungszeiten
            tbody
              - YAML.load_file("opening-times.yml").each do |date|
                tr
                  td = date["name"]
                  td = date["date"]
                  td = date["times"]

      section
        .container.p-3
          h3.title Bildergalerie
          #gallery
            a href="img/gallery/large/holzwirt-1.jpg": img src="img/gallery/small/holzwirt-1.jpg" 
            a href="img/gallery/large/holzwirt-2.jpg": img src="img/gallery/small/holzwirt-2.jpg"
            a href="img/gallery/large/holzwirt-3.jpg": img src="img/gallery/small/holzwirt-3.jpg"
            a href="img/gallery/large/holzwirt-4.jpg": img src="img/gallery/small/holzwirt-4.jpg"
            a href="img/gallery/large/holzwirt-5.jpg": img src="img/gallery/small/holzwirt-5.jpg"
            a href="img/gallery/large/holzwirt-6.jpg": img src="img/gallery/small/holzwirt-6.jpg"
            a href="img/gallery/large/holzwirt-7.jpg": img src="img/gallery/small/holzwirt-7.jpg"
            a href="img/gallery/large/holzwirt-8.jpg": img src="img/gallery/small/holzwirt-8.jpg"
            a href="img/gallery/large/holzwirt-9.jpg": img src="img/gallery/small/holzwirt-9.jpg" 
            a href="img/gallery/large/holzwirt-10.jpg": img src="img/gallery/small/holzwirt-10.jpg"
            a href="img/gallery/large/holzwirt-11.jpg": img src="img/gallery/small/holzwirt-11.jpg" 
            a href="img/gallery/large/holzwirt-12.jpg": img src="img/gallery/small/holzwirt-12.jpg"
            a href="img/gallery/large/holzwirt-13.jpg": img src="img/gallery/small/holzwirt-13.jpg"

        javascript:
          lightGallery(document.getElementById('gallery'));

        .block.p-5
          .has-text-centered.is-size-4.has-text-weight-bold
            p Wir freuen uns auf Sie
            p Familie Numberger

      footer.footer
        h5.title.is-5 Impressum
        .columns
          .column.is-one-quarter
            p Johann Numberger
            p Gastwirt
            p Holz 7
            p 84405 Dorfen
            p Telefon: +49(0)80831274
        .block
          p
            a href="privacy.html" Datenschutz
        .block
          p 
            | Copyright &copy; 
            | #{Time.now.year} 
            strong Zum Holzwirt
